body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.appbar__back {
  font-size: 2em;
  padding-top: 5px;
  color: red;
}

.form__newUser {
  padding: 8px;
  background-color: lightgray;
  width: 400px;
}

.label-wrap__label {
  display: block;  
}

.label-wrap__error-message {
  float: right;
  color: red;
}

.text-input__input {
  width: 100%;
}

.label-wrap {
  margin-bottom: 12px;  
}